/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Project: Calculator
Org/Course: The Odin Project
Related files: index.html, javascript.js, README.md, calculation.txt
Date Started: July 29, 2022
Recent Update: January 23, 2023
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@font-face {
    font-family: Walkway;
    src: url(Walkway\ SemiBold.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: Walkway;
}

.bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, rgb(97, 97, 220), rgb(124, 255, 231), rgb(207, 147, 252));
    background-size: 600% 600%;
    animation: bgAnimatedGradient 15s infinite linear;
}

@keyframes bgAnimatedGradient{
    0% {
        background-position: 0 85%;
    }
    50% {
        background-position: 100% 20%;
    }
    100% {
        background-position: 0% 85%;
    }
}

.container {
    display: flex;
    width: 400px;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 211, 211);
    border-radius: 20px;
    border: 0.25px solid rgb(255, 255, 255);
    box-shadow: 0 8px 12px 0 rgba(255, 255, 255, 0.50);
}

.display {
    color: rgb(0, 0, 0);
    font-size: 36px;
    text-align: right;
    padding: 25px;
    width: 325px;
    margin: 15px;
    background-color: rgb(226, 226, 226);;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 15px;
}

button {
    font-family: Walkway;
    font-size: 24px;
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 0px none;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    transition-duration: 0.4s;
    background-color: rgb(226, 226, 226);
}

button:hover {
    background-color: rgb(0, 187, 187);
    color:rgb(226, 226, 226);
    box-shadow: 0 8px 12px 0 rgba(47,79,79,0.24);
}

.equals {
    background-color: darkcyan;
}

#backspace {
    grid-column: 4;
    grid-row: 1;
}